@import "colors.css";
@import "fonts.css";

button {
  background-color: transparent;
  border: none;
  color: inherit;
}
body {
  background-color: var(--button-color-hover);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;

  color: var(--text-color);
  text-align: center;
}
body * {
  box-sizing: border-box;
}
header {
  display: flex;
  margin: 0;
  padding: 0;
}

#menu {
  padding: 0;
  margin: 14px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 93.5vh;
  margin: 0;
  padding: 0;
  gap: 9vh;
}

.current {
  z-index: 2;
  margin-top: 4vh;
  width: 75vw;
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  box-shadow: inset 4.13px -4.13px 4.13px var(--inner-bottom-left),
    inset -5px 5px 4px var(--inner-top-right);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;

  font-family: "Montserrat", sans-serif;
}
.current * {
  padding: 0;
  margin: 0;
}
.current--date {
  font-size: 32px;
  font-variant: small-caps;
}
.current--date--arrow {
  background-image: url(../assets/icons/Fleche.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2px;
  display: inline-block;
  width: 27px;
  height: 14px;
  filter: drop-shadow(inset 0 1px 3px var(--text-shadow));
}
.current--date-menu {
  position: fixed;
  top: 55px;

  width: inherit;
  background-color: rgba(162, 162, 162, 0.7);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  padding: 3px 0 3px 0;
}
.current--date-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  box-shadow: -3px 3px 4px 0px rgba(255, 255, 255, 0.5) inset,
    3px -3px 4px 0px rgba(0, 0, 0, 0.5) inset;
  z-index: -1;
}
.current--date-menu p {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  padding: 11px;
}
.current--date-menu p:hover {
  border-top: solid 2px rgb(255, 255, 255, 0.8);
  border-bottom: solid 2px rgb(255, 255, 255, 0.8);
  box-shadow: 0px 0px 3px 0px var(--inner-top-right) inset,
    0px 0px 4px 4px var(--text-shadow) inset;
}
.current--date-menu p:first-child:hover {
  border-radius: 30px 30px 0 0;
  border-top: none;
}
.current--date-menu p:last-child:hover {
  border-radius: 0 0 30px 30px;
  border-bottom: none;
}
.current--conditions {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 40px;
}
.current--conditions--icon {
  width: 104px;
  height: 88px;
  background-image: var(--weather-icon);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(inset 0 1px 3px var(--text-shadow));
}
.current--place {
  font-size: 24px;
}

.hourly {
  z-index: 1;
  width: 85vw;
  background-color: var(--bg-color);
  border-radius: 30px;
  box-shadow: inset 4.13px -4.13px 4.13px var(--inner-bottom-left),
    inset -5px 5px 4px var(--inner-top-right);

  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px 20px;
  overflow: scroll;
}
.hourly * {
  padding: 0;
  margin: 0;
}
.hourly > div {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-family: "Open Sans", sans-serif;
}
.hourly > div > p:first-child {
  font-size: 18px;
}
.hourly--icon {
  width: 48px;
  height: 32px;
  background-image: var(--weather-icon);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.hourly > div > p:last-child {
  font-size: 16px;
  font-weight: 600;
}

.city-bio {
  z-index: 3;
  background-color: var(--city-bio-bg);
  backdrop-filter: blur(15px);
  border-radius: 30px 30px 0 0;
  box-shadow: inset 4.13px -4.13px 4.13px var(--inner-bottom-left),
    inset -5px 5px 4px rgb(255, 255, 255, 0.7);
  margin-top: auto;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 11px 21px;

  font-family: "Open Sans", sans-serif;
}
.city-bio * {
  padding: 0;
  margin: 0;
}
.city-bio h2 {
  font-size: 24px;
  font-weight: 700;
}
.city-bio p {
  font-size: 14px;
  font-weight: 600;
}
.city-bio .city-bio--stats {
  margin: 14px 0;

  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.city-bio--toggle {
  align-self: center;
  width: fit-content;
  background-color: var(--button-color);
  backdrop-filter: blur(20);
  border-radius: 19px;
  box-shadow: inset 4.13px -4.13px 4.13px var(--inner-bottom-left),
    inset -5px 5px 4px rgb(255, 255, 255, 0.7);
  margin: auto 0 0 0;
  padding: 7px 54px;

  font-family: "Monserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.main-menu {
  width: 95.3vw;
  height: 79vh;
  border-radius: 30px;
  background: rgba(150, 150, 150, 0.5);
  box-shadow: -3px 3px 4px 0px rgba(255, 255, 255, 0.5) inset,
    3px -3px 4px 0px rgba(0, 0, 0, 0.5) inset;
  margin: 10.5vh auto;

  display: flex;
  flex-direction: column;

  font-family: "Open Sans", sans-serif;
}
.main-menu--nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}
.main-menu--nav .back-button {
  width: 34px;
  height: 24.3px;

  background-image: url(../assets/icons/retours.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu--nav--search {
  width: 54vw;
  background-color: var(--inner-bottom-left);
  border-radius: 10px;

  display: flex;
  padding: 5px;
  gap: 3px;
}
.main-menu--nav--search * {
  padding: 0;
}
.main-menu--nav--search input {
  outline: none;
  border: none;
  background-color: transparent;

  color: var(--text-color);
  font-size: 14px;
  text-align: center;
}
.main-menu--nav--search input::placeholder {
  color: rgb(255, 255, 255, 0.8);
}
.main-menu--nav--search .submit-button {
  width: 20px;
  height: 20px;

  background-image: url(../assets/icons/search-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu--nav .settings-button {
  width:34px;
  height: 31px;

  background-image: url(../assets/icons/slider.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-menu--list {
  margin-top: 4px;
}
.main-menu--list h2 {
  background-color: rgba(150, 150, 150, 0.7);
  box-shadow: -3px 0px 4px 0px rgba(255, 255, 255, 0.5) inset,
    3px 0px 4px 0px rgba(0, 0, 0, 0.5) inset;
  margin: 0;

  display: flex;
  padding: 8px;
  gap: 8px;

  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.main-menu--list .heart,  .main-menu--list .star {
  margin: auto 0;
  display: inline-block;

  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu--list .heart {
  background-image: url(../assets/icons/coeur.svg);
}
.main-menu--list .star {
  background-image: url(../assets/icons/coeur.svg);
}

.main-menu--list div {
  display: flex;
}
.main-menu--list div:hover,
.city-by-weather:hover {
  box-shadow: 0px 0px 3px 1px var(--inner-top-right) inset,
    0px 0px 4px 4px var(--inner-bottom-left) inset;
}
.main-menu--list p {
  margin: 8px 20px;
  padding: 0;
  font-size: 20px;
}
.main-menu--list > div > img {
  margin-right: 20px;
}
.main-menu--list div > p:first-child {
  margin-right: auto;
}
.main-menu--list div > p:last-child {
  margin-left: auto;
}

.main-menu--weather-types nav {
  margin-bottom: 35px;

  display: flex;
  justify-content: center;
}
.weather-type {
  width: 60px;
  height: 48px;
  box-sizing: border-box;
  padding: 4px;

  border-radius: 5px;

  background-image: var(--weather-icon);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.weather-type:hover {
  box-shadow: -1px -1px 2px 0px var(--inner-top-right) inset,
    1px 1px 2px 0px var(--inner-bottom-left) inset;
}
.weather-type.selected {
  box-shadow: -2px -2px 4px 0px rgb(255, 255, 255, 0.6) inset,
    2px 2px 4px 0px rgb(0, 0, 0, 0.6) inset;
}
.city-by-weather {
  display: flex;
}
.city-by-weather > * {
  margin: 10.5px 16px;
  padding: 0;
  font-size: 24px;
}
.city-by-weather > :first-child {
  margin-right: auto;
}
.city-by-weather > :last-child {
  margin-left: auto;

  width: 36px;
  height: 36px;
  background-image: var(--weather-icon);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
