@import "colors.css";
@import "fonts.css";

button {
  background-color: transparent;
  border: none;
  color: inherit;
}
body {
  background-color: var(--button-color-hover);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100vh;

  color: var(--text-color);
  text-align: center;
}
body * {
  box-sizing: border-box;
}
header {
  display: flex;
  margin: 0;
  padding: 0;
}

#menu {
  padding: 0;
  margin: 14px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-height: 93.7vh;
  position: fixed;
  width: 100vw;
  bottom: 0;
  gap: 8vh;
}

.current {
  z-index: 2;
  width: min(75vw, 24.375rem);
  min-height: fit-content;
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
  border-radius: 1.875rem;
  box-shadow: inset 0.2581rem -0.2581rem 0.2581rem var(--inner-bottom-left),
    inset -0.3125rem 0.3125rem 0.25rem var(--inner-top-right);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem;

  font-family: "Montserrat", sans-serif;
}
.current * {
  padding: 0;
  margin: 0;
}
.current--date {
  font-size: 32px;
  font-variant: small-caps;
}
.current--date--arrow {
  background-image: url(../assets/icons/Fleche.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0.125rem;
  display: inline-block;
  width: 1.6875rem;
  height: 0.875rem;
  filter: drop-shadow(inset 0 0.0625rem 0.1875rem var(--text-shadow));
}
.current--date-menu {
  position: fixed;
  top: 3.4375rem;

  width: inherit;
  background-color: rgba(162, 162, 162, 0.7);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  padding: 0.1875rem 0 0.1875rem 0;
}
.current--date-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.625rem);
  box-shadow: -0.1875rem 0.1875rem 0.25rem 0rem rgba(255, 255, 255, 0.5) inset,
    0.1875rem -0.1875rem 0.25rem 0rem rgba(0, 0, 0, 0.5) inset;
  z-index: -1;
}
.current--date-menu p {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  padding: 0.6875rem;
}
.current--date-menu p:hover {
  border-top: solid 0.125rem rgb(255, 255, 255, 0.8);
  border-bottom: solid 0.125rem rgb(255, 255, 255, 0.8);
  box-shadow: 0rem 0rem 0.1875rem 0rem var(--inner-top-right) inset,
    0rem 0rem 0.25rem 0.25rem var(--text-shadow) inset;
}
.current--date-menu p:first-child:hover {
  border-radius: 1.875rem 1.875rem 0 0;
  border-top: none;
}
.current--date-menu p:last-child:hover {
  border-radius: 0 0 1.875rem 1.875rem;
  border-bottom: none;
}
.current--conditions {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  font-size: 2.5rem;
}
.current--conditions--icon {
  width: 6.5rem;
  height: 5.5rem;
  background-image: var(--weather-icon);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(inset 0 0.0625rem 0.1875rem var(--text-shadow));
}
.current--place {
  font-size: 1.5rem;
}

.hourly {
  z-index: 1;
  width: min(85vw, 27.5rem);
  min-height: 9.75rem;
  background-color: var(--bg-color);
  border-radius: 1.875rem;
  box-shadow: inset 0.2581rem -0.2581rem 0.2581rem var(--inner-bottom-left),
    inset -0.3125rem 0.3125rem 0.25rem var(--inner-top-right);

  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.5rem 1.25rem;
  overflow-x: scroll;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hourly::-webkit-scrollbar {
  display: none;
}
.hourly * {
  padding: 0;
  margin: 0;
}
.hourly > div {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;

  font-family: "Open Sans", sans-serif;
}
.hourly > div > p:first-child {
  font-size: 1.125rem;
}
.hourly--icon {
  width: 3rem;
  height: 2rem;
  background-image: var(--weather-icon);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.hourly > div > p:last-child {
  font-size: 1rem;
  font-weight: 600;
}

.city-bio {
  z-index: 3;
  /* min-width: 100%; */
  width: min(100%, 32.5rem);
  background-color: var(--city-bio-bg);
  backdrop-filter: blur(15px);
  border-radius: 1.875rem 1.875rem 0 0;
  box-shadow: inset 0.2581rem -0.2581rem 0.2581rem var(--inner-bottom-left),
    inset -0.3125rem 0.3125rem 0.25rem rgb(255, 255, 255, 0.7);
  /* margin-top: auto; */
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.6875rem 1.3125rem;

  font-family: "Open Sans", sans-serif;
}
.city-bio * {
  padding: 0;
  margin: 0;
}
.city-bio h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.city-bio p {
  font-size: 0.875rem;
  font-weight: 600;
}
.city-bio > :nth-child(2) {
  min-height: 10vh;
  max-height: 14vh;
  overflow: hidden;
}
.city-bio.full > :nth-child(2) {
  min-height: fit-content;
  max-height: fit-content;
}
.city-bio .city-bio--stats {
  margin: 0.875rem 0;

  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}
.city-bio--toggle {
  align-self: center;
  width: fit-content;
  background-color: var(--button-color);
  backdrop-filter: blur(20);
  border-radius: 1.1875rem;
  box-shadow: inset 0.2581rem -0.2581rem 0.2581rem var(--inner-bottom-left),
    inset -0.3125rem 0.3125rem 0.25rem rgb(255, 255, 255, 0.7);
  margin: auto 0 0 0;
  padding: 0.4375rem 3.375rem;

  font-family: "Monserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}
.main-menu-wrapper {
  box-sizing: border-box;
  padding: 10.5vh 0;
}
.main-menu {
  width: min(95.3vw, 26.25rem);
  height: 79vh;
  border-radius: 1.875rem;
  background: rgba(150, 150, 150, 0.5);
  box-shadow: -0.1875rem 0.1875rem 0.25rem 0rem rgba(255, 255, 255, 0.5) inset,
    0.1875rem -0.1875rem 0.25rem 0rem rgba(0, 0, 0, 0.5) inset;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  font-family: "Open Sans", sans-serif;
}
.main-menu--nav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
}
.main-menu--nav .back-button {
  width: 2.125rem;
  height: 1.5188rem;

  background-image: url(../assets/icons/retours.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu--nav--search {
  width: min(54vw, 270px);
  background-color: var(--inner-bottom-left);
  border-radius: 0.625rem;

  display: flex;
  padding: 0.3125rem;
  gap: 0.1875rem;
}
.main-menu--nav--search * {
  padding: 0;
}
.main-menu--nav--search input {
  outline: none;
  border: none;
  background-color: transparent;

  color: var(--text-color);
  font-size: 0.875rem;
  text-align: center;
}
.main-menu--nav--search input::placeholder {
  color: rgb(255, 255, 255, 0.8);
}
.main-menu--nav--search .submit-button {
  width: 1.25rem;
  height: 1.25rem;

  background-image: url(../assets/icons/search-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
}
.main-menu--nav .settings-button {
  width: 2.125rem;
  height: 1.9375rem;

  background-image: url(../assets/icons/slider.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-menu--list {
  margin-top: 0.25rem;
}
.main-menu--list >:first-child {
  background-color: rgba(150, 150, 150, 0.7);
  box-shadow: -0.1875rem 0rem 0.25rem 0rem rgba(255, 255, 255, 0.5) inset,
    0.1875rem 0rem 0.25rem 0rem rgba(0, 0, 0, 0.5) inset;
  margin: 0;

  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
}
.main-menu--list h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}
.main-menu--list .heart,
.main-menu--list .star {
  margin: auto 0;

  width: 1.375rem;
  height: 1.375rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.main-menu--list .heart {
  background-image: url(../assets/icons/coeur.svg);
}
.main-menu--list .star {
  background-image: url(../assets/icons/etoile.svg);
}

.main-menu--list div {
  display: flex;
}
.main-menu--list div:hover,
.city-by-weather:hover {
  box-shadow: 0rem 0rem 0.1875rem 0.0625rem var(--inner-top-right) inset,
    0rem 0rem 0.25rem 0.25rem var(--inner-bottom-left) inset;
}
.main-menu--list p {
  margin: 0.5rem 1.25rem;
  padding: 0;
  font-size: 1.25rem;
}
.main-menu--list > div > img {
  margin-right: 1.25rem;
}
.main-menu--list div > p:first-child {
  margin-right: auto;
}
.main-menu--list div > p:last-child {
  margin-left: auto;
}

.main-menu .random-button {
  width: 32px;
  height: 32px;
  padding:0;
  margin: auto auto 16px auto;

  background-image: url("../assets/icons/dice.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-menu--weather-types nav {
  margin-bottom: 2.1875rem;

  display: flex;
  justify-content: center;
}
.weather-type {
  width: 3.75rem;
  height: 3rem;
  box-sizing: border-box;
  padding: 0.25rem;

  border-radius: 0.3125rem;

  background-image: var(--weather-icon);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.weather-type:hover {
  box-shadow: -0.0625rem -0.0625rem 0.125rem 0rem var(--inner-top-right) inset,
    0.0625rem 0.0625rem 0.125rem 0rem var(--inner-bottom-left) inset;
}
.weather-type.selected {
  box-shadow: -0.125rem -0.125rem 0.25rem 0rem rgb(255, 255, 255, 0.6) inset,
    0.125rem 0.125rem 0.25rem 0rem rgb(0, 0, 0, 0.6) inset;
}
.city-by-weather {
  display: flex;
}
.city-by-weather > * {
  margin: 0.6563rem 1rem;
  padding: 0;
  font-size: 1.5rem;
}
.city-by-weather > :first-child {
  margin-right: auto;
}
.city-by-weather > :last-child {
  margin-left: auto;

  width: 2.25rem;
  height: 2.25rem;
  background-image: var(--weather-icon);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
